@charset "UTF-8";

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header .fa-ellipsis{
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 2rem;
}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1rem;
}

.header .title{
    text-align: center;
    font-family: var(--font02);
}

.header .information{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
}

.header .information li{
    margin: .5rem;
    font-size: 1.125rem;
}

.header .information li i{
    margin-right: .5rem;
}

@media screen and (min-width: 768px){

    .header{
        display: grid;
        grid-template-areas: "photo title" "photo information";
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    .header .title{
        grid-area: title;
        text-align: left;
        max-width: 200px;
    }
    .header .information{
        grid-area: information;
    }
}