@charset "UTF-8";

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title{
    text-align: center;
    font-family: var(--font02);
}

.header .information{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
}

.header .information li{
    margin: .5rem;
    font-size: 1.125rem;
}

.header .information li i{
    margin-right: .5rem;
}
