@charset "UTF-8";

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    margin: 1rem 0;
}
.portfolio li p{
    margin-top: .25rem;
}