@charset "UTF-8";

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    margin: 1rem 0;
    font-weight: 700;
}

.portfolio li p{
    margin-top: 1rem;
}
.portfolio li p a{
    color: white;
    font-weight: 300;
    text-decoration: none;
}