@charset "UTF-8";

:root{
    --font01: "Roboto", sans-serif;

    --cor001: #49d0b0;
    --cor002: #61E1CA;
    --cor003: #F6F8FC;

    --corTexto01: white;
    --corTexto02: #3ca990;
}

*{
    font-family: var(--font01);
    box-sizing: border-box;
}

body{
    background-color: var(--cor003);
}

.content{
    padding: 1rem;
    background-color: var(--corTexto01);
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

