@charset "UTF-8";

:root{
    --font01: "Roboto", sans-serif;

    --cor001: #14A06F;

    --corTexto01: white;
}

*{
    font-family: var(--font01);
    box-sizing: border-box;
}

.content{
    padding: 1rem;
}

ol.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;

    list-style: none;
    margin: 0;
    padding: 0;
}

ol.pokemons > li{
    margin: .5rem;
    padding: 2rem 1rem;

    height: 120px;

    border-radius: 1rem;
    background-color: var(--cor001);
    color: var(--corTexto01);
}