@charset "UTF-8";

:root{
    --font01: "Roboto", sans-serif;

    --normal: #a6a877;
    --grass: #77c850;
    --fire: #ee7f30;
    --water: #678fee;
    --electric: #f7cf2e;
    --ice: #98d7d7;
    --ground: #dfbf69;
    --flying: #a98ffe;
    --poison: #a98ff0;
    --fighting: #bf3029;
    --psychic: #f65687;
    --dark: #725847;
    --rock: #b8a137;
    --bug: #a8b720;
    --ghost: #6e5896;
    --steel: #b9b7cf;
    --dragon: #6f38f6;
    --fairy: #f9a8d4;

    --cor001: #61E1CA;
    --cor002: #F6F8FC;
    --cor003: #6c79db;

    --corTexto01: white;
    --corTexto02: #00000049;
}

*{
    font-family: var(--font01);
    box-sizing: border-box;
}

body{
    background-color: var(--cor002);
}

.content{
    padding: 1rem;
    background-color: var(--corTexto01);
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

