@charset "UTF-8";

.pokemons{
    display: grid;

    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon{
    margin: .5rem;
    padding: 1rem;

    font-weight: 500;

    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    color: var(--corTexto01);
}

.normal{
    background-color: var(--normal);
}
.grass{
    background-color: var(--grass);
}
.fire{
    background-color: var(--fire);
}
.water{
    background-color: var(--water);
}
.electric{
    background-color: var(--electric);
}
.ice{
    background-color: var(--ice);
}
.ground{
    background-color: var(--ground);
}
.flying{
    background-color: var(--flying);
}
.poison{
    background-color: var(--poison);
}
.fighting{
    background-color: var(--fighting);
}
.psychic{
    background-color: var(--psychic);
}
.dark{
    background-color: var(--dark);
}
.rock{
    background-color: var(--rock);
}
.bug{
    background-color: var(--bug);
}
.ghost{
    background-color: var(--ghost);
}
.dragon{
    background-color: var(--dragon);
}
.steel{
    background-color: var(--steel);
}
.fairy{
    background-color: var(--fairy);
}

.pokemon .name{
    color: var(--corTexto01);
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img{
    height: 70px;
    max-width: 100%;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;

    list-style: none;
}

.pokemon .detail .types .type{
    color: var(--corTexto01);

    padding: .25rem .5rem;
    margin: .25rem 0;

    font-size: .625rem;
    text-align: center;

    border-radius: 1.2rem;

    filter: brightness(1.12);
}

.pokemon .number{
    text-align: right;
    color: var(--corTexto02);
    font-size: .625rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button{
    background-color: var(--cor003);
    color: var(--corTexto01);
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .7rem;
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

