@charset "UTF-8";

.pokemons{
    display: grid;

    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon{
    margin: .5rem;
    padding: 1rem;

    font-weight: 500;

    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    background-color: var(--cor001);
    color: var(--corTexto01);
}

.pokemon .name{
    color: var(--corTexto01);
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img{
    height: 70px;
    max-width: 100%;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;

    list-style: none;
}

.pokemon .detail .types .type{
    background-color: var(--cor002);
    color: var(--corTexto01);

    padding: .25rem .5rem;
    margin: .25rem 0;

    font-size: .625rem;

    border-radius: 1.2rem;
}

.pokemon .number{
    text-align: right;
    color: var(--corTexto02);
    font-size: .625rem;
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

